.lightContainer{
    background: black;
    border-radius: 5%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin: 10px;
}

.red{
    background: red;
    
}
.yellow{
    background: yellow;
    
}
.green{
    background: green;
    
}
.orange{
    background: rgb(238, 139, 11);
    margin: 7px;
}